:root {
  margin: 0%;
  padding: 0%;
}
.screen {
  padding: 0px;
  margin: 0px;
  top: 0px;
}

.content {
  position: absolute;
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: rgb(188, 242, 242);
  background: linear-gradient(
      0deg,
      rgba(188, 242, 242, 1) 0%,
      rgba(241, 195, 236, 1) 100%
    )
    top right no-repeat fixed;
}

.chats {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.human {
  align-self: flex-end;
  margin: 1rem;
  background-color: rgba(250, 245, 197, 0.9);
  width: 50%;
  padding: 0.5rem;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
}

.human p {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.bot {
  margin: 0.5rem 1rem;
  background-color: rgba(197, 250, 221, 0.9);
  width: 50%;
  padding: 0.5rem;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
}

.bot p {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.bot.image {
  padding: 0;
  background-color: unset;
  width: auto;
  justify-content: flex-start;
}

.bot img {
  width: 80%;
}

.responseButtonsDiv {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  margin: 2rem 1rem 0 1rem;
  width: auto;
  justify-content: flex-start;
}
.responseButton {
  font-size: 20px;
  background-color: rgb(225, 213, 241);
  border-radius: 6px;
  margin: 10px;
  padding: 0.3rem;
  border: rgb(233, 197, 247);
  white-space: nowrap;
}

@media (min-width: 1025px) {
  .page {
    display: flex;
    width: 93vw;
    height: 93vh;
    justify-content: center;
    align-items: center;
  }
  .iphone {
    margin: auto;
    height: 90vh;
    width: 48.33vh;
    background: url("https://hoidrop.s3-us-west-2.amazonaws.com/cp_social_app_iphone.png")
      no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .screen {
    width: 72%;
    height: 62vh;
    overflow: hidden;
    position: relative;
    background-color: white;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .content {
    min-height: 62vh;
    overflow-y: scroll;
  }

  .statusDiv {
    position: fixed;
    z-index: 200;
    height: 2vh;
    width: 34.9vh;
    background-color: rgb(255, 255, 255);
  }

  .status {
    position: fixed;
    z-index: 200;
    width: 35vh;
    height: 2vh;
    background: url("https://hoidrop.s3-us-west-2.amazonaws.com/cp_social_app_status_black.png")
      no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}
